<!DOCTYPE html>
<html>
<head>
	<title>Poskrom | POS</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/receipt.css">
</head>
<body>
	<div class="container-fluid">
		<div class="row header-wrapper">
			<div class="col-6 py-3">
				<div id="search-bar">
					<form id="product-search-form" class="form-inline form-top">
						<div class="input-group">
				      <input type="text" id="product-search-field" class="form-control" required placeholder="Product">
				      <span class="input-group-btn">
				        <button class="btn btn-default" type="submit">Search</button>
				      </span>
				    </div>
					</form>
				</div>
			</div>
			<div class="col-6 py-3">
				<div class="total-wrapper form-inline">
					<div class="input-group mx-7">
						<div class="input-group-prepend">
							<div class="input-group-text">TOTAL GHS</div>
						</div>
						<label class="price-total form-control">0.00</label>
					</div>
					<button id="purchase-button" class="btn btn-success ml-4">Purchase</button>
				</div>
			</div>
		</div>   <!--End of row-->

		<div class="row main">
			<div class="search-results-panel">
				<div class="panel-controls"></div>
				<div class="search-result-list"></div>
			</div>
			<div class="main-panel">
				<table id="order-entry-table" class="table table-scroll">
					<thead>
						<tr>
							<th>Action</th>
							<th>Product</th>
							<th>Barcode Unit</th>
							<th>Stock Unit</th>
							<th>Qty</th>
							<th>Unit Price</th>
							<th>Sum</th>
						</tr>
					</thead>
					<tbody id="order-entries" class="order-entry-table-body">
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="row receipt-wrapper">
			<div class="well col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
					<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6">
									<address>
											<strong>Ecotel Enterprise</strong><br>
											11th Street, Achimota Petroleum<br>
											Greater Accra<br>
											Phone: 0545444809
									</address>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 text-right">
									<p>
											<em>Date: 1st January, 2013</em>
									</p>
									<p>
											<em>Order #: 3546476</em>
									</p>
									<p>
											<em>Receipt #: 34522</em>
									</p>
							</div>
					</div>
					<div class="row">
							<div class="text-center">
									<h1>Receipt</h1>
							</div>
							</span>
							<table class="table">
									<thead>
											<tr>
													<th>Product</th>
													<th>Qty</th>
													<th class="text-center">Price</th>
													<th class="text-center">Total</th>
											</tr>
									</thead>
									<tbody id="order-entries-print">
											<tr class="entry-base">
													<td class="col-md-9 product-name">Coca cola 2Lt bottle</td>
													<td class="col-md-1 quantity" style="text-align: center"> 2 </td>
													<td class="col-md-1 text-center unit-price"></td>
													<td class="col-md-1 text-center sum"></td>
											</tr>
									</tbody>
							</table>
					</div>
			</div>



<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/notifier.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/pos.js"></script>
</body>
</html>
