extends layout


block content
    div.wrapper
        form.form.form-signin
            h2 Please Login
            input(type = 'text', placeholder = 'Username').form-control.username.my-2
            input(type = 'password', placeholder = 'Password').user-password.form-control.my-2
            button(type = 'submit').btn.btn-success.my-3.btn-block Login
